@import url('https://fonts.googleapis.com/css?family=Roboto:700');

*{
   box-sizing: border-box;
   margin:0;
}
h1{
    font-family: 'Roboto', sans-serif;
    z-index: 2000;
    position: relative;
    top: 220px;
    margin-top:-205px;
    color: yellow; 
    font-size: 4em;
    padding-left: 50px;
}
#stopBtn{
    font-family: 'Roboto', sans-serif;
    z-index: 2001;
    position: relative;
    top: 707px;
    left: 50px;
    color: #131833; 
    font-size: 2em;
    padding-left: 50px;
    border: 2px solid #131833;
    width: 30px;
    height: 30px;
    background-color: #131833;
    padding: 0.2em;
    cursor: pointer;
}
.modal{
    position: relative;
    bottom: 400px;
    left: 200px;
    width: 150px;
    height: 130px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    z-index: 100;
}
#bike, #Horse, #oldbus, #_OldBus_, #Car, #Motorcycle, #Modern_Bus, #Modern_Airplane, #Airplane, #Tesla{
    transform-box: fill-box;
    transform-origin: center;
    cursor: pointer;
    position: relative;
}
#bike:hover, #Horse:hover, #oldbus:hover, #_OldBus_:hover, #Car:hover, #Motorcycle:hover, #Modern_Bus:hover, #Modern_Airplane:hover, #Airplane:hover, #Tesla:hover{
    opacity: 0.8; 
}
.hide{
    display: none;
}
#closeBtnBike, #closeBtnHorse, #closeBtnOldBus, #closeBtnCar, #closeBtnPublicBus, #closeBtnMotorcycle, #closeBtnTesla, #closeBtnBike, #closeBtnAirplane, #closeBtnModernPlane{
    cursor: pointer;
 
}
#Hills_Clouds{
    animation: float 12s linear infinite alternate-reverse;

}
@keyframes float{

    50%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(0px);

    }
}
#Birds{
    animation: fly 6s infinite;

}
@keyframes fly{
    20%{
        transform: translate(200px, -100px);
    }
    50%{
        transform: translate(40px, -140px);
    }
    100%{
        transform: translate(0px, 0px);

    }
}