@import url('https://fonts.googleapis.com/css?family=Roboto:700');

*{
   box-sizing: border-box;
   margin:0;
}
h1{
    font-family: 'Roboto', sans-serif;
    z-index: 2000;
    position: relative;
    top: 220px;
    margin-top:-150px; 
    color: yellow; 
    font-size: 4em;
    padding-left: 50px;
}

.modal{
    position: relative;
    bottom: 400px;
    left: 200px;
    width: 150px;
    height: 130px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    z-index: 100;
}
#bike, #Horse, #oldbus, #_OldBus_, #Car, #Motorcycle, #Modern_Bus, #Modern_Airplane, #Airplane, #Tesla{
    transform-box: fill-box;
    transform-origin: center;
    cursor: pointer;
    position: relative;
}
#bike:hover, #Horse:hover, #oldbus:hover, #_OldBus_:hover, #Car:hover, #Motorcycle:hover, #Modern_Bus:hover, #Modern_Airplane:hover, #Train:hover, #Airplane:hover, #Tesla:hover{
    opacity: 0.8; 
}
.hide{
    display: none;
}
#closeBtnBike, #closeBtnHorse, #closeBtnOldBus, #closeBtnCar, #closeBtnPublicBus, #closeBtnMotorcycle, #closeBtnTesla, #closeBtnModernPlane, #closeBtnAirplane{
    cursor: pointer;
}
.cloud1{
    animation-delay: 1s;
    animation: float 20s linear infinite reverse;
}
@keyframes float{

    50%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(0px);

    }
}
.cloud2{
    animation-delay: 1.5s;
    animation: floating 20s linear infinite reverse;
}
@keyframes floating{

    50%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0px);

    }
}
.cloud3{
    animation: wavering 20s linear infinite reverse;
}
@keyframes wavering{

    50%{
        transform: translate(200px, 50px);
    }
    100%{
        transform: translateX(0px);

    }
}
.cloud4{
    animation-delay: .5s;
    animation: waver 20s linear infinite reverse;
}
@keyframes waver{

    50%{
        transform: translate(200px, 30px);
    }
    100%{
        transform: translateX(0px);

    }
}
#Birds{
    animation: fly 6s infinite;
}
@keyframes fly{
    20%{
        transform: translate(200px, -100px);
    }
    50%{
        transform: translate(40px, -140px);
    }
    75%{
        transform: tranlate(180px, -200px);
    }
    100%{
        transform: translate(0px, 0px);

    }
}
.treewave{
    animation: treetilt 2s infinite;
}
@keyframes treetilt{

    50%{
        transform: rotate(.4deg);
        transform: translate(3px);
    }

    100%{
        transform: rotate(0deg);
    }
}